# React
node_modules/
dist/
build/

# Environment files
.env

# Python
myenv/
venv/
__pycache__/
*.py[cod]

# Django
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db

# VS Code (optional)
.vscode/

deployDB.sql